
#page {
  background-repeat   : no-repeat;
  background-position : center center;
  background-size     : cover;
}

#page.s1 {
  background-image : url("bg1.jpg");
}

#overlay {
  background: url("background-image-overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
