
html, body, #host, #page, * { margin: 0; padding: 0; border: 0; line-height: 100%; font-family: Open Sans, sans-serif; font-weight: 300; }
html, body, #host           { height: 100%; overflow: hidden; }

#host             { position: fixed; top: 0; bottom: 0; left: 0; right: 0; }
#page, #overlay   { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

#content          { position: absolute; top: 0; bottom: 0; right: 0; left: 20%; padding-right: 6.25%; padding-top: 64px; overflow: auto; }
