
h1, p   { color: white; }

h1 + p  { margin-top: 2em; }
p + p   { margin-top: 1em; }
p + h1  { margin-top: 2em; }

h1      { font-size: 58px; font-weight: 600; padding-bottom: 0.2em; border-bottom: 1px solid rgba(255,255,255, 0.4); }
p       { font-size: 26px; line-height: 37px; }

a       { color: #ace;    text-decoration: none; }
a:hover { color: #f0f8ff; text-decoration: underline; }
