
h1, h2, h3,
p, ul, ol        { color: white; text-shadow: 1px 1px 1px #000; }

#contentmain     { font-size: 162.5%; }

p + p            { margin-top: 1em; }
h1+*, h2+*, h3+* { margin-top: 1.5em; }
*+h1, *+h2, *+h3 { margin-top: 2.5em; }

h1,h2,h3         { font-weight: 600; padding-bottom: 0.2em; border-bottom: 1px solid rgba(255,255,255, 0.4); margin-bottom: 0.4em; }
h1               { font-size: 223%; }
h2               { font-size: 177%; }
h3               { font-size: 130.7%; }

p, ul, ol, li    { line-height: 142%; }

ul, ol           { margin: 0.5em 0 1em 2em; padding: 0; }
ul               { list-style-type: circle; }
li               { margin-bottom: 0.25em; }

a                { color: #ace;    text-decoration: none;      text-shadow: 1px 1px 1px #000; }
a:hover          { color: #f0f8ff; text-decoration: underline; }

strong           { font-weight: 600; }

tt, code, pre    { font-family: Inconsolata, monospace; font-size: 110%; }
tt, code         { color: #def; }

pre              { margin: 0.5em 0 0.5em 0.5em; overflow: auto; }
pre code         { display: block; padding: 0.5em; background-color: #042029; color: #839496; font-size: 100%; }

.hljs-keyword    { color: #268BD2; }
.hljs-number     { color: #269186; }
.hljs-string     { color: #269186; }
.hljs-params     { color: #A57800; }
.hljs-comment    { color: #586E75; }
.hljs-built_in   { color: #D33682; }
.hljs-tag        { color: #6C71C4; }
.hljs-title      { color: #268BD2; }
.hljs-attribute  { color: #D33682; }
.hljs-value      { color: #2AA198; }
